/* Fondo Animado */
.background-sky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--c-sky), var(--c-sky-light) 50%, var(--c-background) 100%);
  z-index: -1;
  overflow: hidden;
}

.cloud {
  position: absolute;
  width: 150px;
  height: 50px;
  background: var(--c-paper);
  border-radius: 50px;
  opacity: 0.8;
  animation: move-clouds 35s linear infinite;
}

.cloud:before,
.cloud:after {
  content: '';
  position: absolute;
  background: var(--c-paper);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: -35px;
  left: 25px;
}

.cloud:after {
  left: auto;
  right: 25px;
  top: -30px;
}

.cloud.c1 {
  top: 15%;
  transform: scale(0.8);
  animation-duration: 40s;
}

.cloud.c2 {
  top: 30%;
  transform: scale(1);
  animation-duration: 30s;
  animation-delay: -10s;
}

.cloud.c3 {
  top: 50%;
  transform: scale(0.6);
  animation-duration: 50s;
  animation-delay: -20s;
}

@keyframes move-clouds {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(100vw);
  }
}

/* Contenedor Principal */
.main-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 25px;
  position: relative;
  z-index: 1;
}

